@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", "sans-serif";
}

body .side-nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  width: 5.8%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #005C57;
  color: #E5E5E5;
  font-size: 10px;
}

body .side-nav div {
  margin: .9em auto 0 auto;
  width: 50px;
  height: 63px;
}

body .side-nav div .round {
  position: relative;
  background-color: #E5E5E5;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
}

body .side-nav div .round img {
  position: absolute;
  width: 50%;
  height: 50%;
  margin: 25% auto 25% -25%;
}

body .side-nav div p {
  margin-top: 1px;
}

body .side-nav .logo {
  margin: -5px auto 5px auto;
}

body .side-nav .logo img {
  height: 60px;
  width: 50px;
}

body .side-nav .logo p {
  font-family: "Work Sans", "sans-serif";
  font-weight: 500;
  font-size: 12px;
  color: #E5E5E5;
  margin: -8px;
}

body .side-nav .profile img {
  border-radius: 50%;
  width: 42px !important;
  height: 42px !important;
  margin: 8% 50% auto -43% !important;
}

body .main-container {
  margin-left: 8%;
  margin-right: 5rem;
}

body .main-container .header {
  position: relative;
  padding: 1.5em 0 1em 0;
  width: 100%;
}

body .main-container .header #title {
  font-size: 36px;
}

body .main-container .header .header-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  font-size: 1rem !important;
}

body .main-container .header .header-right div {
  padding-bottom: .5em;
  padding-top: .5em;
}

body .main-container .header .header-right div a {
  text-decoration: none;
  color: #242423;
  margin: auto 1em;
}

body .main-container .header .header-right .feedback::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 12px;
  width: 87px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 2px solid #005C57;
  -webkit-transition: .2s;
  transition: .2s;
}

body .main-container .header .header-right .feedback:hover:after {
  -webkit-transition: 0.5s ease-in-out !important;
  transition: 0.5s ease-in-out !important;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body .main-container .header .header-right .about::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 7.7rem;
  width: 60px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 2px solid #005C57 !important;
  -webkit-transition: .2s;
  transition: .2s;
}

body .main-container .header .header-right .about:hover:after {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body .main-container .header .header-right .contact-us::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 13rem;
  width: 90px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 2px solid #005C57 !important;
  -webkit-transition: .2s;
  transition: .2s;
}

body .main-container .header .header-right .contact-us:hover:after {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body .main-container .header .header-right .sign-out::after {
  content: '';
  position: absolute;
  bottom: 0%;
  right: .8rem;
  width: 75px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-bottom: 2px solid #005C57 !important;
  -webkit-transition: .2s;
  transition: .2s;
}

body .main-container .header .header-right .sign-out:hover:hover:after {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

body .main-container .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 0%;
}

body .main-container .notification .outside-container {
  position: relative;
  width: 193px;
  height: 150px;
  margin: .5em 1.4em 0 0;
}

body .main-container .notification .outside-container img {
  position: absolute;
  -webkit-filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, 0.25));
  right: 0%;
  top: -5%;
}

body .main-container .notification .outside-container .subjects-icon {
  width: 40px;
  height: 40px;
  -webkit-transform: matrix(0.95, 0.38, -0.31, 0.93, 0, 0);
          transform: matrix(0.95, 0.38, -0.31, 0.93, 0, 0);
}

body .main-container .notification .outside-container .message-icon {
  width: 37px;
  height: 37px;
  -webkit-transform: matrix(0.82, 0.61, -0.54, 0.81, 0, 0);
          transform: matrix(0.82, 0.61, -0.54, 0.81, 0, 0);
}

body .main-container .notification .outside-container .task-icon {
  top: -10%;
  right: -3%;
  -webkit-transform: matrix(0.71, -0.79, 0.63, 0.71, 0, 0);
          transform: matrix(0.71, -0.79, 0.63, 0.71, 0, 0);
  width: 60px;
  height: 50px;
}

body .main-container .notification .outside-container .event-icon {
  width: 50px;
  height: 50px;
  top: -10%;
  right: -5%;
}

body .main-container .notification .outside-container .inner-container {
  border: 1px solid rgba(0, 92, 87, 0.5);
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
  width: 180px;
  height: 137px;
}

body .main-container .notification .outside-container .inner-container p:nth-child(1) {
  font-size: 64px;
  margin: .2em auto;
}

body .main-container .notification .outside-container .inner-container hr {
  margin: 0 0 5px 4px;
  width: 95%;
}

body .main-container .notification .outside-container .inner-container p:nth-child(2) {
  margin-bottom: -10px !important;
}

body .main-container .announcements {
  border: 1px solid rgba(0, 92, 87, 0.5);
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 7%;
  top: 14%;
  width: 21%;
  padding: .5em 2.5em;
}

body .main-container .announcements div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0 .5em 0;
}

body .main-container .announcements div img {
  width: 20px;
  height: 20px;
  margin-right: 1em;
}

body .main-container .announcements div p {
  font-size: 18px;
}

body .main-container .announcements ul {
  font-size: 13px;
  text-align: start;
}

body .main-container .announcements ul li {
  font-size: 12px;
  margin: 5% 0 0 10%;
}

body .main-container .announcements ul li a {
  color: #242423;
}

body .main-container .announcements ul li p {
  opacity: 90%;
  margin: 5px 1rem .5rem 5px;
}

body .main-container .recent-activity {
  position: absolute;
  right: 7%;
  top: 64%;
  width: 21%;
  height: 70%;
  border: 1px solid rgba(0, 92, 87, 0.5);
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
}

body .main-container .recent-activity .recent-activity-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.4em 0 .2em 0;
}

body .main-container .recent-activity .recent-activity-title img {
  width: 20px;
  height: 20px;
  margin-right: 1em;
}

body .main-container .recent-activity .recent-activity-title p {
  font-size: 18px;
}

body .main-container .recent-activity .vertical-line {
  position: absolute;
  height: 78%;
  width: 3px;
  background-color: gray;
  left: 8%;
  top: 14%;
}

body .main-container .recent-activity .activity {
  margin: 1em 0;
}

body .main-container .recent-activity .activity img {
  position: absolute;
  left: 6%;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
}

body .main-container .recent-activity .activity div {
  margin: auto;
  text-align: center;
  width: 75%;
}

body .main-container .recent-activity .activity div .activity-txt {
  font-size: 14px;
  margin-bottom: .5em;
  color: #2172a5;
  font-weight: 600;
}

body .main-container .recent-activity .activity div .activity-description {
  font-size: 13px;
  margin-bottom: .3em;
  opacity: 85%;
}

body .main-container .recent-activity .activity div .activity-time {
  font-size: 12px;
  opacity: 55%;
}

body .main-container .activity-summary, body .main-container .data-usage {
  max-width: 830px;
  border: 1px solid rgba(0, 92, 87, 0.5);
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
  margin: .2em 0 15px 5px;
}

body .main-container .data-usage {
  padding-top: 20px;
}

body .main-container .third-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}

body .main-container .third-section .recently-uploaded-files {
  border: 1px solid rgba(0, 92, 87, 0.5);
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
  margin-left: 5px;
  padding: 0 1em 1em 1em;
  width: 32%;
}

body .main-container .third-section .recently-uploaded-files div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5em 0 .5em 0;
  margin-bottom: .8em;
}

body .main-container .third-section .recently-uploaded-files div img {
  margin-right: 1em;
}

body .main-container .third-section .recently-uploaded-files div p {
  font-size: 18px;
}

body .main-container .third-section .recently-uploaded-files table td, body .main-container .third-section .recently-uploaded-files table th {
  font-size: 12px;
  padding: 0 1em 0 .5em;
}

body .main-container .third-section .recently-uploaded-files table th {
  padding-bottom: 1em;
}

body .main-container .third-section .recently-uploaded-files img {
  width: 20px;
  height: 20px;
}

body .main-container .dashboard-calendar {
  border: 1px solid rgba(0, 92, 87, 0.5);
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
  max-width: 38%;
  margin-left: -19rem;
}

body .main-container .dashboard-calendar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5em 0 .5em 0;
}

body .main-container .dashboard-calendar div img {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

body .main-container .dashboard-calendar div p {
  font-size: 18px;
}

body .main-container .dashboard-calendar > img {
  padding-top: 1rem;
  max-width: 90%;
  max-height: 90%;
}

body footer {
  font-size: 14px;
  clear: both;
  margin: 16rem auto .5rem 7rem;
}

body footer .footer-right {
  position: absolute;
}

body footer .privacy {
  right: 18rem;
}

body footer .terms {
  right: 6rem;
}
